<html>
  <head>
  
    
    
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    
  <title>Your Fortune</title>
  </head>
  <body>

 
    <img class="header_image" src="images/palmreader.png">


    <div id="life">
    <h3><%= @result_life %></h3>
    </div>

    <div id="heart">
    <h3><%= @result_heart %></h3>
    </div>


    
  </body>
</html>