<html>
  
    <head>
    
          <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
          <link rel="stylesheet" href="css/style.css">

    
  <title>Palm Reader</title>
  </head>
  
  <body>
    
    <img class="header_image" src="images/palmistry.png" height="65%">
    <img class="header_image" src="images/palmreader.png">
    <h2><a href="/life">Click here to have your palm read.</a></h2>
    
  </body>
</html>
