<html>
  
    <head>
  
    
    
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    
  <title>Your Fortune</title>
  </head>
  
  <body>
        <img class="header_image" src="images/life_line_logo.png">

    <form method="POST" action="/life">
  
<fieldset>
  <legend>LIFE LINE LENGTH</legend>

  <label  style="display: inline; " for="life_line_length_01">
    <img src="images/life_length_long.png"></label>
    <input type="radio" name ="life_line_length" id="life_line_length_01" value="long">
  
  <label  style="display: inline; " for="life_line_length_02">
    <img src="images/life_length_short.png"></label>
  <input type="radio" name ="life_line_length"  id="life_line_length_02" value="short">
</fieldset>
  
<fieldset>
  <legend>LIFE LINE START</legend>
  
    <label  style="display: inline; " for="life_line_start_01">
    <img src="images/life_start_high.png"></label>
    <input type="radio" name ="life_line_start" id="life_line_start_01" value="high">

    <label  style="display: inline; " for="life_line_start_02">
    <img src="images/life_start_mid.png"></label>
    <input type="radio" name ="life_line_start" id="life_line_start_02" value="mid">

    <label  style="display: inline; " for="life_line_start_03">
    <img src="images/life_start_low.png"></label>
    <input type="radio" name ="life_line_start" id="life_line_start_03" value="low">

</fieldset>

<fieldset>
  <legend>LIFE LINE END</legend>
  
    <label  style="display: inline; " for="life_line_end_01">
    <img src="images/life_end_high.png"></label>
    <input type="radio" name ="life_line_end" id="life_line_end_01" value="high">

    <label  style="display: inline; " for="life_line_end_02">
    <img src="images/life_end_mid.png"></label>
    <input type="radio" name ="life_line_end" id="life_line_end_02" value="mid">

    <label  style="display: inline; " for="life_line_end_03">
    <img src="images/life_end_low.png"></label>
    <input type="radio" name ="life_line_end" id="life_line_end_03" value="low">
  
</fieldset>
  
 <fieldset>
   <legend>LIFE LINE SHAPE</legend>
   
    <label  style="display: inline; " for="life_line_shape_01">
    <img src="images/life_shape_high.png"></label>
    <input type="radio" name ="life_line_shape" id="life_line_shape_01" value="high">

    <label  style="display: inline; " for="life_line_shape_02">
    <img src="images/life_shape_mid.png"></label>
    <input type="radio" name ="life_line_shape" id="life_line_shape_02" value="high">

    <label  style="display: inline; " for="life_line_shape_03">
    <img src="images/life_shape_low.png"></label>
    <input type="radio" name ="life_line_shape" id="life_line_shape_03" value="high">
</fieldset>

<fieldset>
  <legend>LIFE LINE CURVATURE</legend>
  
  
    <label  style="display: inline; " for="life_line_break_01">
    <img src="images/life_breaks_yes.png"></label>
    <input type="radio" name ="life_line_break" id="life_line_break_01" value="yes">
  
  <label  style="display: inline; " for="life_line_break_02">
    <img src="images/life_breaks_no.png"></label>
  <input type="radio" name ="life_line_break"  id="life_line_break_02" value="no">

</fieldset>
      <p><input type = "submit" value="SUBMIT"></p>

  </form>
  </body>
  </html>